.bbSlider {
	position: absolute;
	text-align: center;
}

	.bbSlider .track {
		background: #444;
		-webkit-border-radius: 12.5px;
		-webkit-box-shadow:
			0 3px 10px #000 inset,
			0 1px 1px #999;
		display: inline-block;
		height: 25px;
		margin: 0;
		position: relative;
		vertical-align: middle;
		width: 250px;
	}
	
		.bbSlider .beforeThumb,
		.bbSlider .afterThumb {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.bbSlider .thumb {
			background: #999;
			-webkit-border-radius: 12.5px;
			-webkit-box-shadow:
				0 -5px 0 #666 inset,
				0 2px 1px #fff inset,
				0 1px 3px #000;
			height: 25px;
			left: 0;
			margin-left: -12.5px;
			position: absolute;
			top: 0;
			-webkit-transform: scale(0.9);
			width: 25px;
		}

	.bbSlider .value,
	.bbSlider .units {
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		margin-top: 5px;
	}
	
	.bbSlider .units {}
