@import 'bbPadArray.css';
@import 'bbSlider.css';
@import 'bbKeyboard.css';

/* iPad screen is 1024 by 768 pixels */

html {
	background: #000;
	color: #000;
	font-family: 'Helvetica Neue', sans-serif;
	height: 100%;
}

	body {
		height: 100%;
		margin: 0;
	}

		#beatboxes {
			background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));
			height: 100%;
			position: relative;
		}
		
			#drummer {
				margin: 0 auto;
				padding-bottom: 20px;
				width: 690px;
			}
			
				#drummer-controls {
					height: 125px;
					position: relative;
					text-shadow: 0 1px 1px #999;
				}
				
					#play,
					#pause {
						-webkit-appearance: none;
						background: transparent;
						border: 0;
						color: #fff;
						font-size: 72px;
						height: 125px;
						left: 50%;
						margin: 0 0 0 -50px;
						padding: 0;
						position: absolute;
						text-shadow: 0 -1px 1px #000;
						top: 0;
						width: 100px;
					}
					
					.playing #play {
						display: none;
					}
					
					#pause {
						display: none;
					}

					.playing #pause {
						display: block;
					}
					
					#drummer-volume,
					#drummer-tempo {
						left: 5px;
						position: absolute;
						text-align: center;
						top: 50px;
					}
					
					#drummer-tempo {
						left: auto;
						right: 5px;
					}
